@{
    ViewBag.Title = "About";
}
<div class="body-content">
    <center><h3>DogiWiki</h3></center>

    <p>Welcome, this is a web app created by Eric Atwood, a software developer. It is a place to share pictures of your dog, and look at other peoples' pictures.</p>

    <p>Tag them by their breed, share their name and a brief description. You can then sort by your dog's breed and see others just like them!</p>
</div>