@model DogiWiki2.Models.UploadModel
@{
    ViewBag.Title = "Upload";
}

<div class="body-content body-navigation">
    <center>
        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" accept="image/*" required />
            <br />
            <label style="padding-top: 15px">Name of Dog: </label>
            @Html.TextBoxFor(model => model.Name)
            
            <br />
            <label style="padding-top: 15px">Breed: </label>
            @Html.DropDownListFor(model => model.SelectedBreed, new SelectList(DogiWiki2.Models.UploadModel.Breed))
            <br />
            <label style="padding-top: 15px">Description (optional): </label>
            @Html.TextBoxFor(model => model.Description)

            <br />
            <input type="submit" value="Submit" />
        }
    </center>

</div>